<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Roby's site</title>
    <style>
    /*
        body {
            background-color: #025955;
        }
        hr {
            border-style: none;
            border-top-style: dotted;
            height: 0px;
            width: 20%;
            border-color: grey;
            border-width: 10px;
        }
    */
    </style>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <table cellspacing="20">
        <tr>
            <td>
                <img src="images/circle-cropped.png" alt="Mr. robot" width="200">
            </td>
            <td>
                <h1>Roby</h1>
                <p><em>currently <strong><a href="index.html">unemployed</a></strong></em></p>
                <p>well, it's been a tricky period</p>
            </td>
        </tr>
    </table>
    <hr>
    <h3>Books</h3>
    <ul>
        <li>onex</li>
        <li>two</li>
        <li>three</li>
    </ul>
    <hr>
    <h3>work experience</h3>
    <table cellspacing="10">
        <thead>
            <tr>
                <th>dates</th>
                <th>work</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2010-2013</td>
                <td>lead developer at something</td>
            </tr>
            <tr>
                <td>2010</td>
                <td>something else</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
        <tr>
            <td>something</td>
            <td>*****</td>
            <td>something</td>
            <td>*****</td>
        </tr>
        <tr>
            <td>something</td>
            <td>*****</td>
            <td>something</td>
            <td>*****</td>
        </tr>
    </table>
    <hr>
    <a href="hobbies.html">hobbies</a>
    <a href="contactme.html">contact me</a>
</body>

</html>
